{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" style="background:##0b0c0c;padding-top:5px;padding-bottom:15px;border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" style="margin-bottom: 5px;">
      <a href="#" class="govuk-header__link govuk-header__link--homepage" style="padding-bottom: 7px;">  
          <img src="/public/images/white-logo-text.png" height="30px" style="margin-bottom:0px;">
          <img src="/public/images/colour-logo-image.png" height="33px" style="margin-bottom:0px;">
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-xl">New header</h1>
  </main>
</div>

{% endblock %}

{% block footer %}

<footer class="govuk-footer govuk-footer--hmlr " role="contentinfo" style="border-top: 10px solid #789904;">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      </div>
      <div class="govuk-footer__meta-item">
        <img src="/public/images/footer-logo.png" height="60px" style="margin-bottom:0px;">
      </div>
    </div>
  </div>
</footer>

{% endblock %}