{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" style="background:##0b0c0c;padding-top:5px;padding-bottom:25px;border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" style="margin-bottom: 4px;">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">

          <img src="/public/images/colour-logo-image.png" height="30px" style="margin-bottom:-6px;">
          <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 28px; display: inline-block; margin:0; ">HM Land Registry</h1>
      
      </a>
    </div>
  </div>
</header>

<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">

              <b>[Name of service]</b>
  
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 1
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Navigation item 2</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 3
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<br><br>


<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" style="background:##0b0c0c;padding-top:5px;padding-bottom:25px;border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" style="margin-bottom: 4px;">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">

          <img src="/public/images/white-logo-image.png" height="30px" style="margin-bottom:-6px;">
          <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 28px; display: inline-block; margin:0; ">HM Land Registry</h1>
      
      </a>
    </div>
  </div>
</header>

<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">

              <b>[Name of service]</b>
  
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 1
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Navigation item 2</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 3
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<br><br>


<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" style="background:##0b0c0c;padding-top:5px;padding-bottom:25px;border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" style="margin-bottom: 5px;">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">

          <img src="/public/images/colour-logo-image.png" height="30px" style="margin-bottom:-7px;">
          <img src="/public/images/white-logo-text.png" height="30px" style="margin-bottom:-9px;">
      
      </a>
    </div>
  </div>
</header>

<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">

              <b>[Name of service]</b>
  
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 1
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Navigation item 2</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 3
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<br><br>

<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" style="background:##0b0c0c;padding-top:5px;padding-bottom:25px;border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" style="margin-bottom: 0px;">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
       
          <img src="/public/images/whitetransp.png" height="30px" style="padding-top: 5px;">

        
      </a>
    </div>
  </div>
</header>

<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">

              <b>[Name of service]</b>
  
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 1
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Navigation item 2</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 3
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<br><br>


<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" style="background:##0b0c0c;padding-top:5px;padding-bottom:25px;border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" style="margin-bottom: 0px;">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
       
          <img src="/public/images/greyscale-current.png" height="30px" style="padding-top: 5px;">

        
      </a>
    </div>
  </div>
</header>

<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">

              <b>[Name of service]</b>
  
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 1
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Navigation item 2</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Navigation item 3
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>



{% endblock %}

{% block content %}



{% endblock %}
