{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header%}

<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" >
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" >
      <a href="/" class="govuk-header__link govuk-header__link--homepage" style="padding-bottom:2px;">

          <img src="/public/images/govuk-logo.png" height="32px" style="margin-top: -4px;;">
      
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}



<h1 class="govuk-heading-xl">GOV.UK Brand Refresh at HM Land Registry</h1>

<p class="govuk-body">GOV.UK underwent a brand refresh which went live on 25th June.</p>

<p class="govuk-body">The refreshed branding consists of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a new header which is now fully blue, containing only the logo (Crown and GOVUK text) that links to the homepage</li>
  <li>a footer with a light blue background and small crown logo</li>
</ul>

<p class="govuk-body">There will also be additional changes required such as moving the service name from the header into the navigation component.</p>

<p class="govuk-body">All services we host on a GDS domain needed to be updated by us, to the new branding.</p>

<p class="govuk-body">These can be identified by:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>if the url for the webpage is in the style of gov.uk/myservice. In this instance the branding changes updated automatically</li>
  <li>if the url ends with .service.gov.uk. In this instance service teams needed to update and apply the new branding styles</li>
</ul>

<p class="govuk-body">After compiling a <a href="https://landregistryuk-my.sharepoint.com/:x:/r/personal/grace_buttall-jensen_landregistry_gov_uk/Documents/List of services and webpages.xlsx?d=wd26b30a4a1324ab79888955c6dca8e60&csf=1&web=1&e=mWK6Qn" class="govuk-link">list of services</a> with the help of Product and Design as well as carrying out an <a href="https://www.figma.com/design/VwnuYzFZsTXgNMauFQF2A3/GOV-Rebrand-at-HMLR?node-id=22-6&t=TjMvyYwXSPtgUcFK-1" class="govuk-link">Audit of nearly all our services, products and webpages</a> there were only 3 services on a GDS domain:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Search for land and property information</li>
  <li>Search for local land charges</li>
  <li>Use land a property data</li>
</ul>

<p class="govuk-body">The audit also revealed where we had services using the GOV.UK branding incorrectly as they weren’t on GDS domains. These services changed their branding to HMLR. The <a href="https://landregistryuk-my.sharepoint.com/:x:/r/personal/grace_buttall-jensen_landregistry_gov_uk/Documents/List of services and webpages.xlsx?d=wd26b30a4a1324ab79888955c6dca8e60&csf=1&web=1&e=mWK6Qn" class="govuk-link">list of services</a> including final branding status gives the full list.</p>

<p class="govuk-body">There were however 2 exceptions where we reached out to GDS and requested to keep GOV.UK branding:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Sign your mortgage deed. This service passed its service assessment so is entitled to be on a GDS domain.</li>
  <li>Citizens account (the sign in and create account pages within Search for Land and Property Information). Moving these pages to HMLR branding would have created an inconsistent user experience.</li>
</ul>

<p class="govuk-body">The advice from GDS was vague and open to interpretation as to keeping GOV branding. 19th June I sent a final email to say we would be adopting the branding and to get in touch if they had any concerns. This was the last correspondence.</p>

<h2 class="govuk-heading-m">Design template</h2>
<p class="govuk-body">Within the <a href="./gds-domain/all-sign-in.html" class="govuk-link">template</a> you can find the rationale for all design decisions.</p>

<h2 class="govuk-heading-m">Service specific designs</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="./gds-domain/sflapi.html">Search for land and property information</a>
  </li>
  <li>
    <a class="govuk-link" href="./gds-domain/llc.html">Search for local land charges</a>
  </li>
  <li>
    <a class="govuk-link" href="./gds-domain/ulap.html">Use land and property data</a>
  </li>
  <li>
    <a class="govuk-link" href="./gds-domain/digital-mortgage.html">Sign your mortgage deed</a>
  </li>
</ul>

{% endblock %}