{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header%}

<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" >
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" >
      <a href="/" class="govuk-header__link govuk-header__link--homepage" style="padding-bottom:2px;">

          <img src="/public/images/govuk-logo.png" height="32px" style="margin-top: -4px;;">
      
      </a>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}



<h1 class="govuk-heading-xl">GOV.UK Brand Refresh</h1>

<p class="govuk-body">GOV.UK is undergoing a rebrand launching with the GOVUK app on the 25th June. The GOV.UK website and Government Services running there must also change on the same day to the new brand. How does this effect us and what do we need to do?</p>
<p class="govuk-body"><b>The first thing to do</b> is populate the <a href="https://landregistryuk-my.sharepoint.com/:x:/g/personal/grace_buttall-jensen_landregistry_gov_uk/EaQwa9IyobdKmIiVXG3KjmABL2p7qW_XdKgD0daOVr3IrA?e=VRihLv" class="govuk-link">List of services and webpages</a> spreadsheet, in particular filling out the URL column. If there are any services, products or webpages missing please add them. With this information we can ensure each service gets the correct advice and support they need in making the design changes, particularly our external facing services that require our own branding.</p>
<p class="govuk-body">Next, there is a guide you can use to identify where your service sits and what changes you may need to make.</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half" style="border-right-style: solid; border-right-color: rgb(185, 185, 185); padding-right:40px;">
    <h2 class="govuk-heading-m">Service, product or webpage using a GDS domain </h2>
    <p class="govuk-body">For example Search for Land and Property Information</p>

    <p class="govuk-body">These can be identified by:</p>
    <p class="govuk-body">If the url for the webpage is in the style of <b>gov.uk/myservice</b>. In this instance you may not need to do anything and the header and footer will update automatically. Email the URL to <a href="mailto:grace.buttall-jensen@landregistry.gov.uk" class="govuk-link">Grace Buttall-Jensen.</a> and I will be able to confirm.</p>
    <p class="govuk-body">If the url ends with <b>.service.gov.uk</b>. In this instance service teams will need to update and apply the new branding styles. We will also need to ensure that anything in the header finds its new correct home, like the service name in the navigation bar.</p>
    <p class="govuk-body"> We are currently putting together prototypes to illustrate the required design changes.</p>
    <p class="govuk-body">  NOTE - this is not for production code. Service/products must use the GOV.UK Frontend.</p>
    <p class="govuk-body">Changes must be made for 25th June</p>
    <form action="./gds-domain/requirement-options.html">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        View prototypes
      </button>
    </form>
  </div>

  <div class="govuk-grid-column-one-half" style="padding-left:40px;">
    <h2 class="govuk-heading-m">All other domains, external customer facing and internal</h2>
    <p class="govuk-body">For example Mantain LLC, DRS, Application Processing</p>
    <p class="govuk-body">We will want to make design changes to our header and footer to keep a consistent feel across government services. This may have a knock on effect to our navigation and other components such as phase banners, Welsh language toggle, etc. These service want to look like GOV.UK but must not use their branding.</p>
    <p class="govuk-body">We are currently putting together prototypes to illustrate the required design changes for external and internal facing services .</p>
    <p class="govuk-body">  NOTE - this is not for production code. Service/products must use the GOV.UK Frontend but remove GOV.UK branding and font.</p>
    <p class="govuk-body">Changes should be made from 25th June in a reasonable timeframe with our external facing services taking priority.</p>
    <p class="govuk-body"><b>Prototypes TBC</b></p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">

<h3 class="govuk-heading-m">Additional guidance</h3>
<p class="govuk-body">
  For more information on <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk" class="govuk-link">Making your service look like GOV.UK</a> including instructions on when your service isn't on GOV.UK.
</p>
<p class="govuk-body">If you are unsure of what branding or design changes your service/product needs please email <a href="mailto:grace.buttall-jensen@landregistry.gov.uk" class="govuk-link">Grace Buttall-Jensen.</a></p>
<p class="govuk-body">Below is a graphic to demonstrate in more detail which services are subject to what design changes and our current understanding of these changes.</p>
<img src="/public/images/which-design-change-guidance.png">
{% endblock %}