{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header class="govuk-header" data-module="govuk-header" data-govuk-header-init="" >
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px;">
    <div class="govuk-header__logo" >
      <a href="https://www.gov.uk/" class="govuk-header__link govuk-header__link--homepage" style="padding-bottom:2px;">

          <img src="/public/images/govuk-logo.png" height="32px" style="margin-top: -4px;;">
      
      </a>
    </div>
  </div>
</header>
<div class="govuk-width-container" >
<a href="../index.html" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">Designs for services on GDS domains</h1>

<h2 class="govuk-heading-s">Completed designs</h2>
<p class="govuk-body">These designs are ready to be used but note that they are not for production code.</p>

<ul class="govuk-list govuk-list">
  <li><a href="./header.html" class="govuk-link">Header and footer only</a></li>
  <li><a href="./header-navigation.html" class="govuk-link">Services with navigation</a></li>
</ul>

<h2 class="govuk-heading-s">Designs still being worked on</h2>
<p class="govuk-body">We are waiting on guidance from GDS in order to complete these designs. More details can be found in each prototype.</p>
<ul class="govuk-list govuk-list">
<li><a href="./header-account.html" class="govuk-link">Services with user accounts</a></li>
  <li>Welsh language toggle</li>
  <li>Phase banner location</li>
</ul>

{% endblock %}
